# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3306
socket		= /tmp/mysql6.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port		= 3306
socket		= /tmp/mysql6.sock


skip-external-locking
key_buffer_size = 128M
max_allowed_packet = 16M
table_open_cache = 128
sort_buffer_size = 2M
net_buffer_length = 1M
read_buffer_size = 2M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 2M

##########
#bind-address = 10.208.67.247
#report-host = nodelrsxfcp1009007
#slave_compressed_protocol = 1
##########
# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking
#slave_skip_errors=1062,1032
# Replication Master Server (default)
# binary logging is required for replication

#skip-slave-start
skip-name-resolve
#log_slave_updates
log=rajeev.log
default_storage_engine = innodb
binlog_format = MIXED

innodb_data_home_dir = /usr/local/mysql/data
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /usr/local/mysql/data
innodb_buffer_pool_instances = 20
innodb_buffer_pool_size = 128M
innodb_log_file_size = 32M
innodb_additional_mem_pool_size = 16M
innodb_log_buffer_size = 2M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table
innodb_flush_method=O_DIRECT

# binary logging format - mixed recommended

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set

server-id       = 1009007

#####Replicate DB########
##########################


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
